
<style>

    .Button {
        width: 100%;
        background-color: #00000000;
        padding: 0rem;
        
    }

</style>

<div class="top-row pl-4 navbar navbar-dark ">
    <a class="navbar-brand" href="">新聞モバイルシステム</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@*<div class="box @NavMenuTogle" @onclick="ToggleNavMenu">*@

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <button align="left" class="btn Button" @onclick="@(s =>JumpPage("Index"))">
                <NavLink class="nav-link" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> ホーム
                </NavLink>
            </button>
        </li>
        <li class="nav-item px-3">
            <button align="left" class="btn Button" @onclick="@(s =>JumpPage("IriTome"))">
                <NavLink class="nav-link">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> 入止表
                </NavLink>
            </button>
        </li>
        <li class="nav-item px-3">
            <button align="left" class="btn Button" @onclick="@(s =>JumpPage("Kako"))">
                <NavLink class="nav-link">
                    <span class="oi oi-document" aria-hidden="true"></span> 過去台帳
                </NavLink>
            </button>
        </li>
        <li class="nav-item px-3">
            <button align="left" class="btn Button" @onclick="@(s =>JumpPage("Kansa"))">
                <NavLink class="nav-link">
                    <span class="oi oi-eye" aria-hidden="true"></span> 監査
                </NavLink>
            </button>
        </li>

        <li class="nav-item px-3">
            <button align="left" class="btn Button" @onclick="@(s =>JumpPage("Login"))">
                <NavLink class="nav-link">
                    <span class="oi oi-power-standby" aria-hidden="true"></span> ログアウト
                </NavLink>
            </button>
        </li>

        <li class="nav-item px-3" align="Right">
            <!--バージョン:メジャー.マイナー.最終更新日-->
            Ver:0.1.201201
        </li>

    </ul>
</div>
@*</div>*@

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string NavMenuTogle => collapseNavMenu ? null : "active";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
