
<style>

    .Button {
        width: 100%;
        background-color: #00000000;
        padding: 0rem;
        
    }
    .btn-Title {
        display: inline-block;
        color: black;

    }
    .btn-Title:not(:disabled):not(.disabled):active,
    .btn-Title:not(:disabled):not(.disabled).active,
    .show > .btn-menu.dropdown-toggle {
        background-color: rgba(0, 0, 0, 0.00);
    }

</style>

<div class="top-row pl-4 navbar navbar-dark ">
    <button type="button" class="btn btn-Title navbar-brand" @onclick="@(s =>JumpPage("Index"))">新聞モバイルシステム</button>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@*<div class="box @NavMenuTogle" @onclick="ToggleNavMenu">*@

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <button align="left" class="btn Button" @onclick="@(s =>JumpPage("Index"))">
                <NavLink class="nav-link" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> ホーム
                </NavLink>
            </button>
        </li>
        <li class="nav-item px-3">
            <button align="left" class="btn Button" @onclick="@(s =>JumpPage("IriTome"))">
                <NavLink class="nav-link">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> 入止表
                </NavLink>
            </button>
        </li>
        <li class="nav-item px-3">
            <button align="left" class="btn Button" @onclick="@(s =>JumpPage("Kako"))">
                <NavLink class="nav-link">
                    <span class="oi oi-document" aria-hidden="true"></span> 過去台帳
                </NavLink>
            </button>
        </li>
        <li class="nav-item px-3">
            <button align="left" class="btn Button" @onclick="@(s =>JumpPage("Kansa"))">
                <NavLink class="nav-link">
                    <span class="oi oi-eye" aria-hidden="true"></span> 監査
                </NavLink>
            </button>
        </li>

        <li class="nav-item px-3">
            <button align="left" class="btn Button" @onclick="@(s =>JumpPage("Login"))">
                <NavLink class="nav-link">
                    <span class="oi oi-power-standby" aria-hidden="true"></span> ログアウト
                </NavLink>
            </button>
        </li>

        <li class="nav-item px-3" align="Right">
            <div class="dropdown">
                <button type="button" id="Ver"
                        class="btn btn-secondary dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Ver:0.4.201209
                </button>
                <div class="dropdown-menu" aria-labelledby="Var">
                    @foreach (var x in Varsion_History)
                    {
                        <span class="dropdown-item-text">@x</span>
                    }

                </div>
            </div>



            <!--バージョン:メジャー.マイナー.最終更新日-->
            @*Var:0.4.201209*@
            @*0.2.201204 -> 戻る進むボタン追加(IriTomeのみ)*@
            @*0.3.201204 -> Blazor Server化*@
            @*0.4.201209 -> メニュー画面をご指摘いただいた内容に変更*@
        </li>

    </ul>
</div>
@*</div>*@

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string NavMenuTogle => collapseNavMenu ? null : "active";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public List<string> Varsion_History = new List<string>
    {
        new string("0.2.201204 -> 戻る進むボタン追加(IriTomeのみ)"),
        new string("0.3.201204 -> Blazor Server化"),
        new string("0.4.201209 -> メニュー画面をご指摘いただいた内容に変更"),
    };

}
