@page "/Common/MeihanActivity"

<!DOCTYPE HTML>
<html lang="ja">

<head>
    <meta charset="Shift-JIS" />
    <meta http-equiv="content-language" content="ja" />
    <meta name="google" content="notranslate" />

    <link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/app.css" />

    <style>
        @* bootstrapのスタイルを上書き *@ @* (ヘッダー下の空白を無くす) *@
        .mb-3 { margin-bottom: 0.5rem; }

        @* _Layoutの背景色等を上書き *@
        .BackGr {
            background: #80989b;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
        }
        @*
        table {
            border: solid;

        }
        tr {
            border: solid;
        }
        td {
            border: solid;
            border-width: 2px;

        }
        *@

        .td_padding_Fixed{
            padding: 0%;
        }



        .Scroll_Control {
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .Scroll_Control::-webkit-scrollbar {
            width: 0.3vw;
            height: 5px;

        }
            .Scroll_Control::-webkit-scrollbar-thumb {
            background: linear-gradient(0deg,#43e2c6,#3183d0);
            border-radius: 3px;
        }
            @*
        .Scroll_Control::-webkit-scrollbar-track {
            background: rgba(100,100,100,100);
        }
                *@

        .Card_child {
            position: absolute;
            bottom: 13rem;

        }
        .Button_Child{
            position: absolute;
            top: 0%;
            right: 0%;

        }

        .px-4{
            padding-top: 0em 0em 0em 0em;
        }

        .section {
            margin-right: calc(50% - 50vw);
            margin-left: calc(50% - 50vw);
        }
        .Border_Bottom {
            border-bottom: outset;
            width: 100%
        }
        .Border {
            border: 0.1rem solid;
            border-color: #FFFFFF;
        }
        .R-Border-ColorW {
            border-right: 0.1rem solid;
            border-color: #FFFFFF;
        }
        .R-Border-ColorB {
            border-right: 0.1rem solid;
            border-color: #dee2e6;
        }
        .B-Border {
            border-bottom: 0.1rem solid;
            border-color: #FFFFFF;

        }
        .T-Border {
            border-top: 0.1rem solid;
            border-color: #FFFFFF;

        }
        .ColorB {
            border-bottom-color: #000000;
        }

        .Bg_Sub_Color {
            background-color: #039BE5;
        }

        .Button_Color {
            background-color: ;

        }
        .button_Fixed{
            border-radius: 0;
        }
        .button_Cube {
            border-radius: 100%;
        }
        .Text_Color{
            color: #FFFFFF;
        }
        .btn:hover{
            color: #FFFFFF;

        }
        footer {
            position: fixed;
            bottom: 0;
            width: 85%
        }
        .Button_Padding_Fixed {
            padding: 1rem;
            bottom:2%;
            right:2%;
            position:fixed;
        }

        .Button_Border_Fixed{
            border-bottom-width: 0px;
        }
        .Button_Block_Fixed{
            width: calc(100% + 0.3vw);
        }

        .Position_Fixed{
            position : fixed;
        }


        @*Info-Button改造*@

        .btn-info{
            color: #000000;
            background-color: #FFFFFF;
            border-color: #FFFFFF;
        }
        .btn-info:hover {
            color: #000000;
            background-color: #CFD8DC;
            border-color: ##CFD8DC;
        }

        .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
        .show > .btn-info.dropdown-toggle {
            color: #FFFFFF;
            background-color: #90A4AE;
            border-color: #90A4AE;
        }


    </style>


</head>

<body style="overflow:hidden">
    <!--デモ用に海老沼が仮で作りましたｶﾘｶﾘ-->
    <div class="Card_parent">
        <div class="Scroll_Control Scroll_Height_20 fontSizeMAX767 ">
            <table class="Card_table_Fixed">
                <tr class="Card_VerticalFix">

                    <td class="td_padding_Fixed" colspan="4">
                        <table class="Card_VerticalFix" style="width:100%">
                            @foreach (var x in KoumokuList)
                            {

                                <tr><td class="Border_Bottom border-right">@x.Heading</td></tr>

                            }
                        </table>
                    </td>

                    <td class="td_padding_Fixed" colspan="9">
                        <table class="Card_VerticalFix" style="width:100%">
                            @foreach (var x in MeihanList)
                            {
                                
                                
                            <tr class="Border_Bottom">
                                @if (x.Heading == "")
                                {
                                    <td>&nbsp;</td>
                                }
                                else
                                {
                                    <td>@x.Heading</td>
                                }
                            </tr>

                            }
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div class="fontSizeMAX767 Text_Color">
            <table class="Card_table_Fixed Border Bg_Sub_Color">

                <tr>
                    <td colspan="6" class="R-Border-ColorB">品名</td>
                    <td colspan="5" class="R-Border-ColorB">日付</td>
                    <td colspan="3" >数量</td>
                </tr>
            </table>

            @*表示部分*@
        <div class="Scroll_Control Scroll_Height_40" style="color:#000000;">

            
        @foreach (var x in HinMeiList)
        {

                <table class="border Button_Block_Fixed fontSizeMAX767 Card_table_Fixed Border_Bottom">

                    <tr>

                        @if (x.HinName == "")
                        {
                            <td colspan="6" class="R-Border-ColorB">&nbsp;</td>
                            <td colspan="5" class="R-Border-ColorB">&nbsp;</td>
                            <td colspan="3">&nbsp;</td>
                        }
                        else
                        {
                            <td colspan="6" class="R-Border-ColorB">@x.HinName</td>
                            <td colspan="5" class="R-Border-ColorB">@x.Hiduke</td>
                            <td colspan="3">@x.Suryou</td>
                        }

                    </tr>
                </table>
            
        }
            

        </div>
        </div>
    </div>
    <footer>
        <h6>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="Bug bi bi-bug" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6H4a3.99 3.99 0 0 1 1.333-2.982A3.983 3.983 0 0 1 8 2c1.025 0 1.959.385 2.666 1.018A3.989 3.989 0 0 1 12 6z" />
            </svg>
        </h6>



    </footer>
</body>
</html>

@code {

}
