<!--一部海老沼が仮で作っていますｶﾘｶﾘ　129行-->


@page "/IriTome/MainFragment"

@using Microsoft.AspNetCore.Components;

<!DOCTYPE HTML>
<html lang="ja">

<head>
    <meta charset="Shift-JIS" />
    <meta http-equiv="content-language" content="ja" />
    <meta name="google" content="notranslate" />

    <link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/app.css" />

    <style>
        @* bootstrapのスタイルを上書き *@ @* (ヘッダー下の空白を無くす) *@
        .mb-3 { margin-bottom: 0.5rem; }

        @* _Layoutの背景色等を上書き *@
        .BackGr {
            background: #80989b;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
            
        }

        .Btn-Color{
            background-color: #ffffff;
        }

        .Margin_Bottom{
            margin-bottom: 2rem;
        }


    </style>


</head>

<body class="Bg_Color">
    <table class="Card_table_Fixed Margin_Bottom Bg_Color">
        <tr>
            <td colspan="10">
                <div class="dropdown">
                    <button type="button" id="Nengetsu"
                            class="btn btn-secondary btn-block dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        @SelectValue
                    </button>
                    <div class="dropdown-menu" aria-labelledby="Nengetu">
                        @foreach (var Nengetu in NengetuList)
                        {

                            <a @onclick="@(s => OnChangeEventNengetu(Nengetu.dispNengetu))" class="dropdown-item form-control" value="@Nengetu.dispNengetu"> @Nengetu.dispNengetu </a>
                        }
                    </div>
                </div>
            </td>

            <td>&nbsp;</td>

            <td colspan="10">
                <div class="dropdown">
                    <button type="button" id="Kuiki"
                            class="btn btn-secondary btn-block dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        @Kuiki_SelectValue 区
                    </button>
                    <div class="dropdown-menu" aria-labelledby="Kuiki">


                        @foreach (var Kuiki in IriKuiki)
                        {


                            if (Y == Kuiki.KuikiNo)
                            {

                            }
                            else
                            {

                                <a @onclick="@(s => OnChangeEventKuiki(Kuiki.KuikiNo))" class="dropdown-item form-control" value="@Kuiki.KuikiNo"> @Kuiki.KuikiNo 区 </a>
                                //Y = Kuiki.KuikiNo;

                            }

                        }
                    </div>
                </div>
            </td>




        </tr>
    </table>




 
        <div>

            @* 年月リストの表示（セレクトリスト） *@
    @* @onchange : クラスから処理を呼び出せる *@
    @* select内で設定したoptionのvalueを引数として持たせることが出来る *@

    <select class="form-control" @onchange="@OnChangeEventNengetuX">
        @foreach (var Nengetu in NengetuList)
        {
            <option value="@Nengetu.dispNengetu"> @Nengetu.dispNengetu </option>
        }
    </select>

    <p>@SelectedValue</p>

    @if (SelectedFlg == true)
    {<p>選択されたの @SelectValue です</p>}


    @* 区域リストの表示（セレクトリスト） *@

    @*
        <select onchange="OnChangeEventKuiki">
            @foreach (var item in Model.KuikiList)
            {
                <option value=@item.kuiki>@item.name</option>
            }
        </select>
    *@

    </div>

    -->

    @* 取得した読者のリストを展開 *@
    @*
        @foreach (var item in Model.DokusyaList)
        {
            // 区域と順路の切り抜き処理
            string kuiki = "";
            string jun = "";

            // 読者リストがnullではないかの判定
            if (item != null)
            {
                // 区域の後ろに「区」を追加
                kuiki = item.kuiki + "区";

                // 順路の「.」を判定して前後で切り抜きを行い、間に「-」を挿入する。
                // また、頭の0詰めを無くす
                // 例） 「0001.00」 → 「1-00」

                // 2020/10/01 藤原 upd
                // もしも順路内に「.」が存在しない場合は、そのまま表示させる
                if (item.junro.IndexOf('.') == -1)
                {
                    jun = item.junro;
                }
                else
                {
                    jun = item.junro.Substring(0, item.junro.IndexOf('.')).TrimStart('0')
                    + "-" +
                    item.junro.Substring(item.junro.LastIndexOf('.') + 1);
                }
            }

            <a asp-page="./Detail" asp-route-id="@item.dokuCode" type="button" class="search-btn btn btn-outline-dark btn-block">
                <span class="Kuiki">@kuiki</span>
                <span class="Junro">@jun</span>
                <span class="dokuCode">No.@Html.DisplayFor(modelItem => item.dokuCode)</span>
                <span class="Name">@Html.DisplayFor(modelItem => item.name)</span>
                <br />
                <span class="address">@Html.DisplayFor(modelItem => item.addressRyaku)</span>
                <span class="Banti">@Html.DisplayFor(modelItem => item.banti)</span>
                <span class="Build">@Html.DisplayFor(modelItem => item.build)</span>
                <br />
                <span class="Tel">@Html.DisplayFor(modelItem => item.tel)</span>
            </a>
        }
    *@

    <!--デモ用に海老沼が仮で作りましたｶﾘｶﾘ-->
    <div class="Bg_Color">
        <table class="Card_table_Fixed Bg_Color">
            
                <tr align="center">
                    <th colspan="10">
                        <button type="button" class="btn btn-primary btn-block">
                            <table class="Card_table_Fixed">
                                <tr>
                                    <th colspan="2">入</th>
                                    <th colspan="2">@IriKuiki.Count 件</th>
                                </tr>
                            </table>
                        </button>
                    </th>

                    <th>&nbsp;</th>

                    <th colspan="10">
                        <button type="button" class="btn btn-danger btn-block">
                            <table class="Card_table_Fixed">
                                <tr>
                                    <th colspan="2">止</th>
                                    <th colspan="2">@TomeCount 件</th>
                                </tr>
                            </table>
                        </button>
                    </th>
                </tr>

                <tr>
                    <th class="Card_VerticalFix Card_parent" colspan="10">
                        <table class="Card_table_Fixed">
                            <!--foreath-->
                            @foreach (var x in IriKuiki)
                            {

                                <tr>
                                    <td>
                                        <div class="Card_parent">
                                            <button @onclick="@(s => JumpPage("/Common/DokusyaActivity"))" type="button" class="btn btn-primary btn-block Card_NameButtonMargin">
                                                <table class="Card_table_Fixed">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" class="fontSizeMAX767" colspan="5">@x.DokusyaName &nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" class="fontSizeMAX767" colspan="5">@x.B &nbsp;</td>

                                                        </tr>
                                                        <tr>
                                                            <td align="left" class="fontSizeMAX767" colspan="4">@x.Keiyaku &nbsp;</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </button>
                                            <button @onclick="@(s => JumpPage("/Common/Meet"))" type ="button" class="btn bg-secondary Card_NameButtonMarginChild Card_fontSizeMAX767 Card_child">訪</button>
                                        </div>
                                    </td>
                                </tr>

                            }
                            <!--foreathEnd-->
                        </table>
                    </th>

                    <th colspan="1">&nbsp;</th>

                    <th class="Card_VerticalFix" colspan="10">
                        <table vertical-align="top">
                            <!--foreath-->
                            @foreach (var x in TomeKuiki)
                            {
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-block Card_NameButtonMargin">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td align="left" class="fontSizeMAX767" colspan="5">@x.DokusyaName</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" class="fontSizeMAX767" colspan="5">@x.B</td>
                                                        <td class="border" colspan="1" rowspan="2">訪</td>

                                                    </tr>
                                                    <tr>
                                                        <td align="left" class="fontSizeMAX767" colspan="4">@x.Keiyaku</td>


                                                    </tr>
                                                </tbody>
                                            </table>
                                        </button>
                                    </td>
                                </tr>

                            }
                            <!--foreathEnd-->
                        </table>
                    </th>
                </tr>

        </table>



    </div>
    <h6>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="Bug bi bi-bug" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6H4a3.99 3.99 0 0 1 1.333-2.982A3.983 3.983 0 0 1 8 2c1.025 0 1.959.385 2.666 1.018A3.989 3.989 0 0 1 12 6z" />
        </svg>
    </h6>
</body>
</html>


@*
    @functions {

        void OnChangeEventNengetu(ChangeEventArgs e)
        {
            Model.KeepNengetu = e.Value.ToString();

            // 読者情報の取得(読者番号:完全一致）
            Model.IriList = Model.RtnIriList();

            Model.TomeList = Model.RtnTomeList();
        }

        void OnChangeEventKuiki(ChangeEventArgs e)
        {
            Model.KeepKuiki = e.Value.ToString();

            // 読者情報の取得(読者番号:完全一致）
            Model.IriList = Model.RtnIriList();

            Model.TomeList = Model.RtnTomeList();
        }


    }

*@

