<!--一部海老沼が仮で作っていますｶﾘｶﾘ　129行-->


@page "/IriTome/MainFragment"

@using Microsoft.AspNetCore.Components;

<!DOCTYPE HTML>
<html lang="ja">

<head>
    <meta charset="Shift-JIS" />
    <meta http-equiv="content-language" content="ja" />
    <meta name="google" content="notranslate" />

    <style>
        @* bootstrapのスタイルを上書き *@ @* (ヘッダー下の空白を無くす) *@
        .mb-3 { margin-bottom: 0.5rem; }

        @* _Layoutの背景色等を上書き *@
        .BackGr {
            background: #80989b;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow: hidden;

        }

        .Btn-Color{
            background-color: #ffffff;
        }

        .Margin_Bottom{
            margin-bottom: 2rem;
        }

        .btn-IriButton {
            border-radius: 0;
            background-color: #ffffff;
        }
            .btn-IriButton:not(:disabled):not(.disabled):active,
            .btn-IriButton:not(:disabled):not(.disabled).active,
            .show > .btn-menu.dropdown-toggle {

            }

        .btn-TomeButton {
            border-radius: 0;
            background-color: #ffffff;
        }

            .btn-IriButton:not(:disabled):not(.disabled):active,
            .btn-IriButton:not(:disabled):not(.disabled).active,
            .show > .btn-menu.dropdown-toggle {
            }


        @*Select*@
        .mdc-select .mdc-select__anchor {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .mdc-select:not(.mdc-select--disabled) .mdc-select__anchor {
            background-color: #FFFFFF;
        }

        .mdc-select {
            min-width: 50px;
            display: inline-flex;
            position: relative;
        }


        label {
            margin-bottom: 0;
        }

        p {
            height: 0;
        }


                .KeiyakuNext_Case0{

        }
        .KeiyakuNext_Case1 {
            background-color: #CFECFF;
        }
        .KeiyakuNext_Case2 {
            background-color: #B0F7C3;
        }

        .Button_Layout {
            width:100%;
            text-align: left;
            border: solid;
            border-width: 0.15rem;
        }

    </style>


</head>

<body class="Bg_Color">

    <div class="mat-layout-grid" style="padding:0.5rem;">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <MatSelect HelperText="" Label="" @bind-Value="@Kuiki_SelectedValue" style="width:100%;">

                    @foreach (var Temp_Kuiki in C_KuikiList)
                    {
                        if (Phase1Data.Select_TenpoNo == Temp_Kuiki.Tenpo)
                        {
                            <MatOption TValue="int?" Value="@Temp_Kuiki.Kuiki">@Temp_Kuiki.Name</MatOption>
                        }
                        else
                        {
                            continue;
                        }
                    }
                </MatSelect>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <MatSelect HelperText="" Label="" @bind-Value="@Nengetu_SelectedValue" style="width:100%;">

                    <MatOption TValue="int?" Value="0">全期間</MatOption>
                    @foreach (var Temp_Nengetu in C_NengetuList)
                    {
                        if (Phase1Data.Select_TenpoNo == Temp_Nengetu.Tenpo)
                        {
                            <MatOption TValue="int?" Value="@Temp_Nengetu.Nengetu">@Temp_Nengetu.Name</MatOption>
                        }
                        else
                        {
                            continue;
                        }
                    }
                </MatSelect>
            </div>
        </div>
    </div>




    <!--デモ用に海老沼が仮で作りましたｶﾘｶﾘ-->
    <!--MatBlazor化-->
    <div class="mat-layout-grid" style="padding:0rem;">
        <div class="mat-layout-grid-inner">
            <!--入り止めボタン-->
            @if (Phase1Data.IriActive == true)
            {
                <div class="mat-layout-grid-cell @Active_Layout_Middle_S">
                    <MatButton @onclick="@(s => ButtonActive("Iri"))" Outlined=true class="btn-block">入　@IriList.FindAll(n => n.Kuiki == Kuiki_SelectedValue).Count 件</MatButton>
                </div>
            }
            @if (Phase1Data.TomeActive == true)
            {
                <div class="mat-layout-grid-cell @Active_Layout_Middle_S">
                    <MatButton @onclick="@(s => ButtonActive("Tome"))" Outlined=true class="btn-block">止　@TomeList.FindAll(n => n.Kuiki == Kuiki_SelectedValue).Count 件</MatButton>
                </div>
            }
            <!--入り止めリスト-->



            @if (Phase1Data.IriActive == true)
            {
                <div class="mat-layout-grid-cell @Active_Layout_Middle_S">
                    @foreach (var x in IriList)
                    {
                        <div class="Card_parent" style="padding-bottom: 0.3rem;">
                            <button type="button" @onclick="@(s => JumpPageIri(x))" class="mat-elevation-z3 btn btn-IriButton btn-block Card_NameButtonMargin Button_Layout" style=" border-color: #@Convert(x.Tantokbn); background-color: #@Convert(x.NextKeiyaku);">
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                    @x.Name
                                </div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                    @x.Meig
                                </div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                    @x.iri - @x.Tome
                                </div>
                            </button>
                        </div>
                    }
                </div>
            }


            @if (Phase1Data.TomeActive == true)
            {
                <div class="mat-layout-grid-cell @Active_Layout_Middle_S">
                    @foreach (var x in TomeList)
                    {
                        <div class="Card_parent" style="padding-bottom: 0.3rem;">
                            <button type="button" @onclick="@(s => JumpPageTome(x))" class="mat-elevation-z3 btn btn-IriButton btn-block Card_NameButtonMargin Button_Layout" style=" border-color: #@Convert(x.Tantokbn); background-color: #@Convert(x.NextKeiyaku);">
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                    @x.Name
                                </div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                    @x.Meig
                                </div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                    @x.iri - @x.tome
                                </div>
                            </button>
                        </div>
                    }
                </div>
            }

            <div class="mat-layout-grid-cell"></div>
        </div>
    </div>

    <!--MatBlazor化終わり-->
</body>
</html>




@code{
    public string ButtonColor;
}
@code{
    public string ColorCode;

    public int X;


}