<!--一部海老沼が仮で作っていますｶﾘｶﾘ　-->

@page  "/Kako/KakoFragment"


@using Microsoft.AspNetCore.Components;

<!DOCTYPE HTML>
<html lang="ja">

<head>
    <meta charset="Shift-JIS" />
    <meta http-equiv="content-language" content="ja" />
    <meta name="google" content="notranslate" />

    <style>
        @* bootstrapのスタイルを上書き *@ @* (ヘッダー下の空白を無くす) *@
        .mb-3 { margin-bottom: 0.5rem; }

        @* _Layoutの背景色等を上書き *@
        .BackGr {
            background: #80989b;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
        }

        @*仮*@
        table {
            display: table;
            table-layout: fixed;
            text-align: center;
            width: 100%;
            vertical-align: top;
        }
        .NameButtonMargin{
            padding: 0.2rem 0.2rem 0.2rem 0.2rem;

        }
        .TableMargin{
            margin: 1em 1em 1em 1em;
        }
        .VerticalFix {
            vertical-align: top;
        }
        tr{
            height: 1.1em;
        }

        .btnW {
            color: #FFFFFF;
        }

        .btn-KakoButton {
            border-radius: 0;
            background-color: #ffffff;
        }

            .btn-KakoButton:not(:disabled):not(.disabled):active,
            .btn-KakoButton:not(:disabled):not(.disabled).active,
            .show > .btn-menu.dropdown-toggle {
            }

    </style>


</head>

<body>
    <div>

        @* 年月リストの表示（セレクトリスト） *@
        @* @onchange : クラスから処理を呼び出せる *@
        @* select内で設定したoptionのvalueを引数として持たせることが出来る *@
        <table>
            <tr>
                <td colspan="5">
                    <select class="form-control" @onchange="@OnChangeEventKuiki">

                        @foreach (var x in TenpoKuiki)
                        {
                            if (TenpoNo == x.TenpoNo)
                            {

                                <option value="@x.KuikiNo"> @x.KuikiName </option>

                            }
                        }
                    </select>
                </td>
                <td align="right" colspan="5">

                    @Count 件
                    @*
                        <select class="form-control" @onchange="@OnChangeEventNengetu">
                            @foreach (var Nengetu in NengetuList)
                            {
                                <option value="@Nengetu.dispNengetu"> @Nengetu.dispNengetu </option>
                            }
                        </select>
                    *@
                </td>

            </tr>
            @*
            <tr>
                <p>@SelectedValue</p>
                <p>@Kuiki_SelectedValue</p>

                @if (SelectedFlag == true)
                {
                    <p>選択されたの @SelectValue です</p>
                }


                @* 区域リストの表示（セレクトリスト

            <select onchange="OnChangeEventKuiki">
            @foreach (var item in Model.KuikiList)
            {
            <option value=@item.kuiki>@item.name</option>
            }
            </select>

            </tr>
            *@
        </table>

        <table class="Card_parent">
            @foreach (var x in TomeDokusyaList)
            {
                    <tr>
                        <td>
                            <div class="Card_parent">
                                <button @onclick="@(s => JumpPage(x))" type="button" class="btn btn-KakoButton btn-block">
                                    <table>
                                        <tr>
                                            <td colspan="9" align="left">@x.DokusyaName</td>
                                            <td colspan="1">M</td>
                                        </tr>
                                        <tr align="left">
                                            <td colspan="4">@x.CityName</td>
                                            <td colspan="4">@x.CityAddress</td>
                                            <td colspan="2">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="left">x.B</td>
                                            <td colspan="6" align="left">@x.KeiyakuSt - @x.KeiyakuEd</td>

                                        </tr>
                                    </table>
                                </button>

                                @*<button type="button" class="btn btnW btn bg-success Card_NameButtonMarginChild Card_fontSizeMAX767 Card_child">訪</button>*@
                                @*@onclick="@(s => JumpPage("./Common/Meet"))"*@
                            </div>
                        </td>
                    </tr>
             
            }
        </table>
    </div>
</body>
</html>
